# Use postgres/example user/password credentials

services:
  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - db
    networks:
      - app-network
    volumes:
      - ./backend/prisma:/usr/src/app/prisma
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 5173:5173
    depends_on:
      - backend
    networks:
      - app-network
  db:
    container_name: db
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: admin
      POSTGRES_DB: rtdv # database name
    volumes:
      - ./db/db_vol:/var/lib/postgresql
      - ./db/initdb.sh:/docker-entrypoint-initdb.d/initdb.sh    
    ports:
      - 5432:5432
    networks:
      - app-network

networks:
  app-network: