# Use postgres/example user/password credentials

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - db
  frontend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - backend
  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: admin
      POSTGRES_DB: rtdv # database name
    volumes:
      - .db/db_vol:/var/lib/postgresql
      - .db/initdb.sh:/docker-entrypoint-initdb.d/initdb.sh    
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080