# Use postgres/example user/password credentials

services:
  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: admin
      POSTGRES_DB: rtdv # database name
    volumes:
      - ./db_vol:/var/lib/postgresql
      - ./initdb.sh:/docker-entrypoint-initdb.d/initdb.sh    
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080